body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: lightgray;
}

.App {
    text-align: center;
}
